@model WebApplication1.Models.FieldItems

<style>
.label_@(Model.FieldItemId){
    width:@((100/Model.Cols)-2)%;
}
</style>

<div class="form-group @ViewBag.Row" id="item_@Model.FieldItemId">
    <label id="label_@Model.FieldItemId" class="control-label @ViewBag.labelWidth">
        @if (Model.Mandatory)
        {
            <span title="Mandatory">*</span>
        }
        @Model.Title
    </label>
    <div class="radio-toolbar @ViewBag.inputWidth">
        @{
            var name = "input_radio_" + Model.FieldItemId;
            var CRM = !String.IsNullOrEmpty(Model.CrmMapping) ? "_" + Model.CrmMapping : "";
            var nameID = name + CRM;
        }
        @foreach (var element in Model.FieldItemElements.OrderBy(x => x.Order))
        {
            if (element.IsDefault)
            { //confirm if is checked
                <input type="radio"
                       @(Model.Mandatory ? "Required" : "")
                       name="@nameID"
                       id="input_radio_@(Model.FieldItemId + "_" + @element.FieldItemElementId)"
                       value="@element.Value" checked="checked"
                       data-parsley-errors-container="#errorBlock_@(Model.FieldItemId)"
                       data-parsley-error-message="Select at least one" />
            }
            else
            {
                <input type="radio"
                       @(Model.Mandatory ? "Required" : "")
                       name="@nameID"
                       id="input_radio_@(Model.FieldItemId + "_" + @element.FieldItemElementId)"
                       value="@element.Value"
                       data-parsley-errors-container="#errorBlock_@(Model.FieldItemId)"
                       data-parsley-error-message="Select at least one" />
            }

            <label for="input_radio_@(Model.FieldItemId + "_" + @element.FieldItemElementId)"
                   class="label_@(Model.FieldItemId)">
                @element.Title
            </label>
            @*</div>*@
        }
        @{ var title = System.Net.WebUtility.UrlEncode(@Model.Title); }
        <input type="hidden" value="@title" name="label_@(Model.FieldItemId)_radio" />

        @if (!string.IsNullOrEmpty(Model.Tooltip))
        {
            <span class="help-block">@Model.Tooltip</span>
        }

        @if (Model.Mandatory)
        {
            <span id="errorBlock_@(Model.FieldItemId)"></span>
        }
    </div>

</div>