@*@model ngFormey.Web.Models.FieldItem*@


@{
    var name = "input_textbox_" + Model.FieldItemId;
    var CRM = !String.IsNullOrEmpty(Model.CRM_Mapping) ? "_" + Model.CRM_Mapping : "";
    var nameID = name + CRM;
}

<div class="form-group" id="item_@Model.FieldItemId">
    <label id="label_@Model.FieldItemId" class="@ViewBag.labelWidth control-label" for="@nameID">
        @if (Model.Mandatory)
        {
            <span title="Mandatory">*</span>
        }
        @Model.Title

    </label>
    <div class="@ViewBag.inputWidth">

        
            <div class='input-group date'>
                <input type="text" @(Model.Mandatory ? "Required" : "")
                       aria-required="@(Model.Mandatory ? "true" : "false")"
                       aria-labelledby="label_@Model.FieldItemId"
                       class="form-control" name="@nameID" id="@nameID" value="@Model.DefaultValue"
                        />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

            @{ var title = System.Net.WebUtility.UrlEncode(@Model.Title); }
            <input type="hidden" value="@title" name="label_@(Model.FieldItemId)_textbox" />
            @if (!string.IsNullOrEmpty(Model.Tooltip))
            { <span class="help-block">@Model.Tooltip</span>
            }
            else
            {
                <span class="help-block"></span>
            }
        </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#@nameID').datetimepicker({
                //daysOfWeekDisabled: [0, 6]
                //viewMode: 'years',
                //format: 'MM/YYYY'
                //format: 'LT' //<-- TIME
                //locale: 'ru'
                format: '@Model.Mask'
            });
        });
    });
</script>

