@*@model ngFormey.Web.Models.FieldItem*@

@{
    var name = "input_email_" + Model.FieldItemId;
    var CRM = !String.IsNullOrEmpty(Model.CRM_Mapping) ? "_" + Model.CRM_Mapping : "";
    var nameID = name + CRM;
}
    <div class="form-group" id="item_@Model.FieldItemId">
        <label id="label_@Model.FieldItemId" class="@ViewBag.labelWidth control-label" for="@nameID">
            @if (Model.Mandatory)
            {
                <span title="Mandatory">*</span>
            }
            @Model.Title
        </label>
        <div class="@ViewBag.inputWidth">
          
            <input type="email" @(Model.Mandatory ? "Required" : "") class="form-control"
                   aria-required="@(Model.Mandatory ? "true" : "false")"
                   aria-labelledby="label_@Model.FieldItemId"
                   name="@nameID"
                   id="@nameID"
                   maxlength="@Model.MaxLenght"
                   value="@Model.DefaultValue"
                    />
            @{ var title = System.Net.WebUtility.UrlEncode(@Model.Title); }
            <input type="hidden" value="@title" name="label_@(Model.FieldItemId)_email" />
            @if (!string.IsNullOrEmpty(Model.Tooltip))
            {
                <span class="help-block">@Model.Tooltip</span>
            }
        </div>
    </div>

    @if (Model.EmailValidate)
    { 
        <div class="form-group" id="item_@Model.FieldItemId">
            <label id="label_@Model.FieldItemId" class="@ViewBag.labelWidth control-label" for="input_@Model.FieldItemId">
                @if (Model.Mandatory)
                {
                    <span title="Mandatory">*</span>
                }
                Confirm @Model.Title
            </label>
            <div class="@ViewBag.inputWidth">
                <input type="email" @(Model.Mandatory ? "Required" : "") class="form-control"
                       aria-required="@(Model.Mandatory ? "true" : "false")"
                       aria-labelledby="label_@Model.FieldItemId"
                       name="confirm_input_email_@Model.FieldItemId"
                       id="confirm_input_email_@Model.FieldItemId"
                       size="@Model.FieldSize"
                       maxlength="@Model.MaxLenght"
                       value="@Model.DefaultValue"
                       data-parsley-equalto="input_email_@Model.FieldItemId" />
            </div>
        </div>
    }
